* {
	box-sizing: border-box;
	font-family: Georgia,sans-serif;

	--white: white;
	--black: black;
	--main-color: #0B406C;
	--second-color: #B7BFCF;
}

html, body {
	margin: 0;
	padding: 0;
}

header {
	background: var(--main-color);
	box-shadow: 3px 3px 2px #01363A;
	height: 15%;
	text-align: center;
}

nav {
	margin-top: 15px;
	min-width: 10%; 
	height: 20%;
	padding-inline: 15px;
	float: right;
	background-color: var(--white);
	padding: 20px;
	margin-bottom: 20px;
}

footer {
	text-align: center;
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	bottom: 0;
	margin-top: 12%;
	background-color: var(--main-color);
	color: var(--second-color);
	border: 2px solid var(--black);
}

ul {
	list-style-type: none;
}

.image {
	padding-left: 45%; 
	display: inline;
}

.img {
	border-radius: 30%;
	display: block;
	margin-inline: 45%;
}

table {
	text-align: center;
}

.center {
	border-radius: 35%;
	width: 100%;
	text-align: center;
	background-color: var(--main-color);
	color: var(--white);
	text-decoration: underline;
}

.accueil {
	height: 50%;
	width: 50%;
}

.description {
	margin-top: 2.5%;
	width: 30%;
	background-color: var(--main-color);
	color: var(--second-color);
	box-shadow: 2px 2px 0px var(--black);
	border: 1px solid var(--black);
	font-size: 1.3em;
}

.auteur {
	width: 100%;
	background-color: var(--main-color);
	color: var(--white);
}

.editeur {
	margin-left: 5%;
	width: 90%;
	background-color: var(--main-color);
	color: var(--white);
}